.illustration--city{
  width: 320x;
   height: 191px;
   background-color:#81B3D2;

}


.illustration__title {
  margin-top: 39px;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;}

.illustration__number {
font-family: PT Sans;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
margin-left:auto;
margin-right: auto;

align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}
.illustration__description {
font-family: PT Sans;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 35px;
}

.illustration__image-wrapper {
  position: relative;
  width: 320px;
  height: 260px;
  overflow: hidden;

}

.image__wrapper-city-image {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;


}

.illustration--brige {
  width: 320x;
  height: 191px;
  background-color:#81B3D2;
}

.illustration__brige-image {
  height: 100%;

}
