.page-footer__wrapper{
  width: 320px;
  height: 233px;
}

.page-footer__hashtag {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
 
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
